body{
    font-family: 'Segoe UI', Arial, sans-serif;
    background: linear-gradient(135deg,#1e3c72,#2a5298);
    margin:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

h1{
    text-align:center;
    color:white;
    position:absolute;
    top:30px;
    font-weight:600;
    letter-spacing:1px;
}

#quiz{
    background:white;
    padding:40px;
    border-radius:16px;
    width:750px;
    box-shadow:0 20px 40px rgba(0,0,0,0.2);
    animation:fadeIn .4s ease;
}

#question{
    font-size:20px;
    font-weight:600;
    margin-bottom:15px;
}

#code{
    background:#111;
    color:#00ff9c;
    padding:15px;
    border-radius:8px;
    font-family:monospace;
    margin-bottom:20px;
}

.option{
    border:2px solid #e5e7eb;
    padding:14px;
    margin:10px 0;
    border-radius:10px;
    cursor:pointer;
    transition:all .2s ease;
    font-size:16px;
}

.option:hover{
    border-color:#2a5298;
    background:#f3f7ff;
    transform:scale(1.02);
}

button{
    background:#2a5298;
    color:white;
    border:none;
    padding:12px 18px;
    border-radius:8px;
    font-size:15px;
    cursor:pointer;
    margin-right:10px;
    transition:.2s;
}

button:hover{
    background:#1e3c72;
}

#feedback{
    margin-top:20px;
    font-size:16px;
}

.controls{
    display:flex;
    justify-content:space-between;
}

.search-box{
    display:flex;
    gap:10px;
    margin-bottom:20px;
    }
    
    .search-box input{
    padding:8px;
    border-radius:6px;
    border:1px solid #ccc;
    width:180px;
    }

@keyframes fadeIn{
    from{
        opacity:0;
        transform:translateY(10px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}